@charset "utf-8";

/*Corpo_p*/

body{
    padding:0px;
    background-image: url(../imagens/footer.jpg);
}

main{
    background-color:white;
    width:1210px;
    height: 1200px;
    margin:0px auto 0px;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    padding: 0px;
    
}

/*Cabeçalho Principal*/

header{
    margin:0px auto 10px;
    width:1208px;
    background-image: url("../imagens/headero.jpg");
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    border:1px solid white;
}

h1#titulo{
    text-align: center;
    margin:0;
    padding:0; 
    color:white;
    font-family:Arnoldboecklin, fantasy;
    font-style: italic;
    font-weight: 900;
    font-size:25pt;
}

header figure{
    height:120px;
    width:120px;
    margin:5px auto 5px;
    border:2px solid rgb(72,209,204);
    border-radius:5px;
    box-shadow:0px 0px 15px black;
} 

header figure img{
    width:120px;
    height: 120px;
    padding:0px;
}

nav#menu_p ul{
    width: 450px;
    list-style-type:none;
    margin:0px auto 0px;
    padding:0px;
    overflow:hidden;
    background-color:#4682B4;
    border: 1px solid white;
    
}

nav#menu_p li{
    float:left;
}

nav#menu_p li a{
    display:block;
    color:white;
    text-align:center;
    font-family: Arial, sans-serif;
    padding:16px;
    text-decoration:none;
}

nav#menu_p li a:hover{
    background-color:#111111;
}


/*Conteúdo*/

article h1{
    font-size: 20pt;
    font-family: Arial, sans-serif;
    text-align: center;
}

article h2{
    font-size: 15pt;
    font-family: Arial, sans-serif;
    text-align: center;
}

article h3{
    font-size: 13pt;
    font-family: Arial, sans-serif;
    text-align: center;
}

article p{
    font-family: Arial, sans-serif;
    text-align: center;
}

/*Rodapé*/

div#footer{
    margin: 5px auto 0px; 
    width:1210px;
    background-image: url(../imagens/headero.jpg); 
    border: 1px solid white;
}

div#footer p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}
div#footer h2{
    font-family: Arial,sans-serif;
    color:white;
    text-align:center;
    font-size:15pt;
}

div#footer img{
    width:50px;
}
